*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(120deg, rgb(10%, 10%, 30%), rgb(190, 229, 218),rgb(120%, 10%, 20%)) no-repeat center top;
    height:auto;
    border: 5px solid black; 
}

#Contenedor{
    
    width: 100%;
    margin: 0px auto;
    border: 5px solid black;
    
}



header{
    
    
    height: 100px;
    width: auto;
    margin: 0px;
    text-align: center;
    line-height: 0px;
    font-family: monospace;
    font-style: normal;
    font-weight: 600;
    
    
}

h1{
    
    width: 100%px;
    height: 30px;
    float: left;
    margin: 10px auto;
    padding: 20px;
    background: #6400F3;
    border-radius: 20px;
    line-height: 30px;
    
}

nav{
    
    background-color:transparent;
    height: 40px;
    
    
}

#login{
    
    float: right;
    margin: 1px;
    padding: 2px;
    
}


#Menu {

    margin:auto;
    width:100%;			
    font-family:monospace, sans-serif;
    float: left;
}
			
ul, ol {

    list-style:none;
}
			
.Nav > li {

    float:left;
}
			
.Nav li a {
				
    background-color:black;
    color:#fff;
    text-decoration:none;
    padding:12px 20px;
    margin:5px;
    display:block;    
    border-radius: 20px;   
	height: 19px;
}
			
.Nav li a:hover {
    
    background:linear-gradient(140deg ,rgb(254 ,255, 255),rgb(10%, 10%, 38%));
			
}
			
.Nav li ul {	
    
    display:none;
    position:absolute;
    min-width:120px;	
}
			
.Nav li:hover > ul {
    
    display:block;
}
			
.Nav li ul li {
    
    position:relative;
}
			
.Nav li ul li ul {
    
    right:-120px;
    top:0px;
    
}

.clearfix{
    
    clear: both;
    
}

.article{
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    font-family: cursive;
}
.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #fff;
}
.article h2{
    font-size: 25px;
}

#contacte{
    
    float: left;
    width: calc(100% - 90px);
    min-height: 500px;
    background: transparent;
    padding: 40px;
}

footer{
    background-color:black;
    color: white;
    position:relative;
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    line-height: 100px;
    display: table;
}

.video{
    
    width: 760px;
    height: 200px;
    margin: auto;
    padding: 20px;
    display: table;
    
}

#wold{
    
    margin: 1px auto;
    font-weight:normal;
    width: 760px;
    height: 200px;
    
}
.vi{

    width: 480px;
    height: 360px;
    margin: auto;
    padding: 20px;
    display: block;
        
}

#muetras{
    
    border-radius: 50px;
    width: 480px;  
    height: 360px; 
    border: 5px solid black;
}



#candado{
    
    width: 270px;
    height: 200px;
    border-radius: 50px;
    
}

#adios{
    
    width: 270px;
    height: 300px;
    border-radius: 50px;
    
}

